/*@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,cyrillic);body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure{margin:0;padding:0}body{font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.5;font-weight:300;color:#111;background-color:#fdfdfd;-webkit-text-size-adjust:100%;margin:0;-webkit-font-smoothing:antialiased}h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight{margin-bottom:15px}img{max-width:100%;vertical-align:middle}figure>img{display:block}figcaption{font-size:14px}ul,ol{margin-left:30px}li>ul,li>ol{margin-bottom:0}h1,h2,h3,h4,h5,h6{font-weight:300}a{color:#2a7ae2;text-decoration:none}a:visited{color:#1756a9}a:hover{color:#111;text-decoration:underline}blockquote{color:#828282;border-left:4px solid #e8e8e8;padding-left:15px;font-size:18px;letter-spacing:-1px;font-style:italic}blockquote>:last-child{margin-bottom:0}pre,code{font-size:15px;border:1px solid #e8e8e8;border-radius:3px;background-color:#eef}code{padding:1px 5px}pre{padding:8px 12px;overflow-x:scroll}pre>code{border:0;padding-right:0;padding-left:0}.wrapper{max-width:-webkit-calc(1250px - (30px * 2));max-width:calc(1250px - (30px * 2));margin-right:auto;margin-left:auto;padding-right:30px;padding-left:30px}@media screen and (max-width: 800px){.wrapper{max-width:-webkit-calc(1250px - (30px));max-width:calc(1250px - (30px));padding-right:15px;padding-left:15px}}.wrapper:after,.footer-col-wrapper:after,.portfolio-list:after{content:"";display:table;clear:both}.icon>svg{display:inline-block;width:16px;height:16px;vertical-align:middle}.icon>svg path{fill:#828282}.container{position:relative;overflow:hidden;background-color:#fff;margin-bottom:177px;-webkit-box-shadow:0px 3px 6px 0px rgba(50,50,40,0.05);-moz-box-shadow:0px 3px 6px 0px rgba(50,50,40,0.05);box-shadow:0px 3px 6px 0px rgba(50,50,40,0.05)}@media screen and (max-width: 800px){.container{margin-bottom:250px}}.site-header{border-top:5px solid #424242;border-bottom:1px solid #e8e8e8;min-height:56px}.site-title{font-size:26px;line-height:28px;margin-top:14px;letter-spacing:-1px;margin-bottom:0;float:left;text-decoration:none !important;border-bottom:1px solid transparent;transition:0.1s}.site-title:hover{border-color:#eaeaea}.site-nav{float:right;line-height:56px}.site-nav .menu-icon{display:none}.site-nav .page-link{color:#111;line-height:1.5;text-decoration:none;border-bottom:1px solid transparent;transition:0.1s}.site-nav .page-link:hover{border-color:#eaeaea}.site-nav .page-link:not(:first-child){margin-left:20px}@media screen and (max-width: 600px){.site-nav{position:absolute;top:9px;right:30px;background-color:#fdfdfd;border:1px solid #e8e8e8;border-radius:5px;text-align:right}.site-nav .menu-icon{display:block;float:right;width:36px;height:26px;line-height:0;padding-top:10px;text-align:center}.site-nav .menu-icon>svg{width:18px;height:15px}.site-nav .menu-icon>svg path{fill:#424242}.site-nav .trigger{clear:both;display:none}.site-nav:hover .trigger{display:block;padding-bottom:5px}.site-nav .page-link{display:block;padding:5px 10px}}.site-footer{border-top:1px solid #e8e8e8;padding:30px 0;position:fixed;background:#e9eff2;bottom:0;z-index:-1;width:100%}.footer-heading{font-size:18px;margin-bottom:15px}.contact-list,.social-media-list{list-style:none;margin-left:0}.footer-col-wrapper{font-size:15px;color:#828282;margin-left:-15px}.footer-col{float:left;margin-bottom:15px;padding-left:15px}.footer-col-1{width:-webkit-calc(35% - (30px / 2));width:calc(35% - (30px / 2))}.footer-col-2{width:-webkit-calc(20% - (30px / 2));width:calc(20% - (30px / 2))}.footer-col-3{width:-webkit-calc(45% - (30px / 2));width:calc(45% - (30px / 2))}@media screen and (max-width: 800px){.footer-col-1,.footer-col-2{width:-webkit-calc(50% - (30px / 2));width:calc(50% - (30px / 2))}.footer-col-3{width:-webkit-calc(100% - (30px / 2));width:calc(100% - (30px / 2))}}@media screen and (max-width: 600px){.footer-col{float:none;width:-webkit-calc(100% - (30px / 2));width:calc(100% - (30px / 2))}}.page-content{padding:30px 0}.page-heading{font-size:20px}.post-list{margin-left:0;list-style:none}.post-list>li{margin-bottom:30px}.post-meta{font-size:14px;color:#828282}.post-link{display:block;font-size:24px}.post-header{margin-bottom:30px}.post-title{font-size:42px;letter-spacing:-1px;line-height:1;font-family:"Fira Mono"}@media screen and (max-width: 800px){.post-title{font-size:36px}}.post-content{margin-bottom:30px}.post-content h2{font-size:32px}@media screen and (max-width: 800px){.post-content h2{font-size:28px}}.post-content h3{font-size:26px}@media screen and (max-width: 800px){.post-content h3{font-size:22px}}.post-content h4{font-size:20px}@media screen and (max-width: 800px){.post-content h4{font-size:18px}}.portfolio-list{list-style:none;margin:0;padding:0;margin-left:-2%}@media screen and (max-width: 800px){.portfolio-list{margin-left:0}}.portfolio-item{display:none;vertical-align:top;width:48%;margin-left:2%;margin-right:-4px;max-height:290px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;border:1px solid rgba(30,22,54,0.2);padding:4px;margin-bottom:2%}@media screen and (max-width: 800px){.portfolio-item{margin-left:0;margin-right:0;width:100%}.portfolio-item:nth-child(even){float:left}}.portfolio-item__link{display:block}.ehover1v2{max-height:280px;outline:1px solid rgba(30,22,54,0.1);display:block}.popup-img{display:block;margin:0 auto}.hover,.hover .overlay{width:100%;height:100%;overflow:hidden}.ehover1v2 img{transition:transform .2s}.ehover1v2 .portfolio-item__title{opacity:0}.ehover1v2 .portfolio-item__span{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.ehover1v2:hover img{-webkit-transform:translate3d(0, -36px, 0);transform:translate3d(0, -36px, 0)}.ehover1v2:hover .overlay{opacity:1}.ehover1v2:hover .portfolio-item__title{opacity:1}.ehover1v2:hover .portfolio-item__span{opacity:1;-webkit-transition:all .05s ease-in-out;transition:all .05s ease-in-out}.portfolio-item__span{position:relative;display:block;overflow:hidden;border:10px solid transparent;border-top:0;border-bottom:0;margin-right:8px;background:#fff}.portfolio-item__span .portfolio-item__decr{text-decoration:none;color:#000;background:#fff;font-family:"Fira Mono";z-index:1000;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;position:relative;padding:0 10px}.portfolio-item__span .portfolio-item__decr:hover{opacity:0.7}.portfolio-item__span .portfolio-item__decr:after{content:"";z-index:-1;position:absolute;border-bottom:1px solid #000;width:9999px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;top:49%;opacity:0.7}.portfolio-item__span .portfolio-item__decr:before{content:"";z-index:-1;position:absolute;border-bottom:1px solid #000;width:9999px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;top:49%;left:-1000%;opacity:0.7}.title-fira{font-family:"Fira Mono"}.portfolio-item__title{position:absolute;bottom:0;font-size:24px;width:100%;text-align:center}.popup-wrapper{padding:20px}a.close-text{display:block;text-align:center;text-decoration:none;padding:20px;color:#000}a.close-text:hover{background:#e9eff2;text-decoration:underline}.popup{display:none;background:#fff;position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;max-width:1170px;margin-bottom:40px}.popup-close{width:25px;height:25px;position:absolute;top:25px;right:25px;transition:ease 0.25s all;-webkit-transform:translate(50%, -50%);transform:translate(50%, -50%);opacity:0.7}.popup-close:hover{-webkit-transform:translate(50%, -50%) rotate(180deg);transform:translate(50%, -50%) rotate(180deg);text-decoration:none;opacity:1}.close-x{stroke:black;fill:transparent;stroke-linecap:round;stroke-width:2}.filter-container{text-align:center;margin-bottom:30px}.filter{display:inline-block;margin-right:10px;cursor:pointer;color:#2a7ae2;text-decoration:none}.filter:last-child{margin-right:0}.filter:hover{color:#111}.filter{-webkit-transition:all 100ms cubic-bezier(0.42, 0, 1, 1);-moz-transition:all 100ms cubic-bezier(0.42, 0, 1, 1);-ms-transition:all 100ms cubic-bezier(0.42, 0, 1, 1);-o-transition:all 100ms cubic-bezier(0.42, 0, 1, 1);transition:all 100ms cubic-bezier(0.42, 0, 1, 1);margin-bottom:15√px;max-width:180px;text-decoration:none;padding:5px 20px}.filter{color:rgba(30,22,54,0.6);box-shadow:rgba(30,22,54,0.4) 0 0px 0px 1px inset}.filter:hover{color:rgba(255,255,255,0.85);box-shadow:rgba(30,22,54,0.7) 0 80px 0px 1px inset}.filter.active{color:rgba(255,255,255,0.85);box-shadow:rgba(30,22,54,0.7) 0 80px 0px 1px inset}.highlight{background:#fff}.highlight .c{color:#998;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .k{font-weight:bold}.highlight .o{font-weight:bold}.highlight .cm{color:#998;font-style:italic}.highlight .cp{color:#999;font-weight:bold}.highlight .c1{color:#998;font-style:italic}.highlight .cs{color:#999;font-weight:bold;font-style:italic}.highlight .gd{color:#000;background-color:#fdd}.highlight .gd .x{color:#000;background-color:#faa}.highlight .ge{font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{color:#000;background-color:#dfd}.highlight .gi .x{color:#000;background-color:#afa}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc{font-weight:bold}.highlight .kd{font-weight:bold}.highlight .kp{font-weight:bold}.highlight .kr{font-weight:bold}.highlight .kt{color:#458;font-weight:bold}.highlight .m{color:#099}.highlight .s{color:#d14}.highlight .na{color:teal}.highlight .nb{color:#0086B3}.highlight .nc{color:#458;font-weight:bold}.highlight .no{color:teal}.highlight .ni{color:purple}.highlight .ne{color:#900;font-weight:bold}.highlight .nf{color:#900;font-weight:bold}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv{color:teal}.highlight .ow{font-weight:bold}.highlight .w{color:#bbb}.highlight .mf{color:#099}.highlight .mh{color:#099}.highlight .mi{color:#099}.highlight .mo{color:#099}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#d14}.highlight .s2{color:#d14}.highlight .se{color:#d14}.highlight .sh{color:#d14}.highlight .si{color:#d14}.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .bp{color:#999}.highlight .vc{color:teal}.highlight .vg{color:teal}.highlight .vi{color:teal}.highlight .il{color:#099}*/

@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,cyrillic);


body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
    margin: 0;
    padding: 0
}

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #6A6581;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure>img {
    display: block;
}

figcaption {
    font-size: 14px;
}

ul,ol {
    margin-left: 30px;
}

li>ul,li>ol {
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

a {
  text-decoration: none;
}


blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

pre,code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: scroll
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}

.wrapper {
    max-width: -webkit-calc(1250px - (30px * 2));
    max-width: calc(1250px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 800px) {

  .wrapper {
    max-width:-webkit-calc(1250px - (30px));
    max-width: calc(1250px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

.wrapper:after,.footer-col-wrapper:after,.portfolio-list:after {
    content: "";
    display: table;
    clear: both;
}

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  float: left;
  transition: all 0.3s ease;
}

.site-title:hover {
  text-shadow: 2px 2px 5px #757187;	
}

.site-title:active {
	color: #fff;
	text-shadow: 0 0 3px #3E385B;
}

.site-nav {
    float: right;
    line-height: 56px;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    color: #111;
    line-height: 1.5;
    padding: 8px;
    transition: 0.3s;
    border-radius: 3px;
}

.site-nav .page-link:hover {
    background-color: #e6e6e6;
}

.site-nav .page-link:not(:first-child) {
    margin-left: 20px;
}

@media screen and (max-width: 600px) {

  .site-nav {
    position:absolute;
    top: 9px;
    right: 30px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .site-nav .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
  }

  .site-nav .menu-icon>svg {
      width: 18px;
      height: 15px
  }

  .site-nav .menu-icon>svg path {
      fill: #424242;
  }

  .site-nav .trigger {
      clear: both;
      display: none
  }

  .site-nav:hover .trigger {
      display: block;
      padding-bottom: 5px;
  }

  .site-nav .page-link {
      display: block;
      padding: 5px 10px
  }
}

.site-footer {
    border-top: 2px solid #e8e8e8;
    padding: 30px 0;
    background: #e9eff2;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px
}

.contact-list,.social-media-list {
    list-style: none;
    margin-left: 0
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px
}

.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2))
}

.footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2))
}

.footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2))
}

@media screen and (max-width: 800px) {
    .footer-col-1,.footer-col-2 {
        width:-webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        float:none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.page-content {
    padding: 30px 0
}

.page-heading {
    font-size: 20px
}

.post-list {
    margin-left: 0;
    list-style: none
}

.post-list>li {
    margin-bottom: 30px
}

.post-meta {
    font-size: 14px;
    color: #828282
}

.post-link {
    display: block;
    font-size: 24px
}

.post-header {
    margin-bottom: 30px
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-family: "Fira Mono"
}

@media screen and (max-width: 800px) {
    .post-title {
        font-size:36px
    }
}

.post-content {
    margin-bottom: 30px
}

.post-content h2 {
    font-size: 32px
}

@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size:28px
    }
}

.post-content h3 {
    font-size: 26px
}

@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size:22px
    }
}

.post-content h4 {
    font-size: 20px
}

@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size:18px
    }
}

.portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -2%
}

@media screen and (max-width: 800px) {
    .portfolio-list {
        margin-left:0
    }
}

.portfolio-item {
    display: none;
    vertical-align: top;
    width: 48%;
    margin-left: 2%;
    margin-right: -4px;
    max-height: 290px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(30,22,54,0.2);
    padding: 4px;
    margin-bottom: 2%
}

@media screen and (max-width: 800px) {
    .portfolio-item {
        margin-left:0;
        margin-right: 0;
        width: 100%
    }

    .portfolio-item:nth-child(even) {
        float: left
    }
}

.portfolio-item__link {
    display: block
}

.ehover1v2 {
    max-height: 280px;
    outline: 1px solid rgba(30,22,54,0.1);
    display: block
}

.popup-img {
    display: block;
    margin: 0 auto
}

.hover,.hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.ehover1v2 img {
    transition: transform .2s
}

.ehover1v2 .portfolio-item__title {
    opacity: 0
}

.ehover1v2 .portfolio-item__span {
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover1v2:hover img {
    -webkit-transform: translate3d(0, -36px, 0);
    transform: translate3d(0, -36px, 0)
}

.ehover1v2:hover .overlay {
    opacity: 1
}

.ehover1v2:hover .portfolio-item__title {
    opacity: 1
}

.ehover1v2:hover .portfolio-item__span {
    opacity: 1;
    -webkit-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out
}

.portfolio-item__span {
    position: relative;
    display: block;
    overflow: hidden;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom: 0;
    margin-right: 8px;
    background: #fff
}

.portfolio-item__span .portfolio-item__decr {
    text-decoration: none;
    color: #000;
    background: #fff;
    font-family: "Fira Mono";
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    position: relative;
    padding: 0 10px
}

.portfolio-item__span .portfolio-item__decr:hover {
    opacity: 0.7
}

.portfolio-item__span .portfolio-item__decr:after {
    content: "";
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid #000;
    width: 9999px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 49%;
    opacity: 0.7
}

.portfolio-item__span .portfolio-item__decr:before {
    content: "";
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid #000;
    width: 9999px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 49%;
    left: -1000%;
    opacity: 0.7
}

.title-fira {
    font-family: "Fira Mono"
}

.portfolio-item__title {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    width: 100%;
    text-align: center
}

.popup-wrapper {
    padding: 20px
}

a.close-text {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: #000
}

a.close-text:hover {
    background: #e9eff2;
    text-decoration: underline
}

.popup {
    display: none;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    margin-bottom: 40px
}

.popup-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    opacity: 0.7
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    text-decoration: none;
    opacity: 1
}

.close-x {
    stroke: black;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 2
}

.filter-container {
    text-align: center;
    margin-bottom: 30px
}

.filter {
    display: inline-block;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    -ms-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    margin-bottom: 15px;    
    margin-right: 10px;
    max-width: 180px;
    text-decoration: none;
    padding: 5px 20px;
    color: rgba(30,22,54,0.6);
    box-shadow: rgba(30,22,54,0.4) 0 0px 0px 1px inset;
    border-radius: 3px;
}

.filter:last-child {
    margin-right: 0
}

.filter:hover {
    color: rgba(255,255,255,0.85);
    box-shadow: rgba(30,22,54,0.7) 0 80px 0px 1px inset;
    cursor: pointer;
}

.filter.active {
    color: rgba(255,255,255,0.85);
    box-shadow: rgba(30,22,54,0.7) 0 80px 0px 1px inset;
}

.highlight {
    background: #fff
}

.highlight .c {
    color: #998;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    font-weight: bold
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #998;
    font-style: italic
}

.highlight .cp {
    color: #999;
    font-weight: bold
}

.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    font-weight: bold
}

.highlight .kd {
    font-weight: bold
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold
}

.highlight .kt {
    color: #458;
    font-weight: bold
}

.highlight .m {
    color: #099
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #900;
    font-weight: bold
}

.highlight .nf {
    color: #900;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: teal
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999
}

.highlight .vc {
    color: teal
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #099
}