@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,cyrillic);

:root {
  --main-color: #6A6581;
}


body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
    margin: 0;
    padding: 0
}

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--main-color);    
}


img {
    max-width: 100%;
    vertical-align: middle;
}

figure>img {
    display: block;
}

figcaption {
    font-size: 14px;
}

ul,ol {
    margin-left: 30px;
}

li>ul,li>ol {
    margin-bottom: 0;
}

a {
  color: #6A6A6A;
  text-decoration: none;
}

a[href^="http"] {
  font-weight: 700;
  text-decoration: underline;
}



.container {
    max-width: -webkit-calc(1250px - (30px * 2));
    max-width: calc(1250px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

.site-header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container:after,.footer-col-wrapper:after,.portfolio-list:after {
    content: "";
    display: table;
    clear: both;
}

.site-header {
  background: rgba(233,239,242,0.7);
  border-top: 3px solid var(--main-color);
  border-bottom: 1px solid #E9F2F1;
  min-height: 56px;
}

.site-title {
  line-height: 56px;
  color: var(--main-color);
  transition: all 0.3s ease;
}

h1 {
  font-size: 30px;
  margin: 0;
}

.site-title:hover {
  text-shadow: 2px 2px 5px #757187;	
}

.site-title:active {
	color: #fff;
	text-shadow: 0 0 3px #3E385B;
}

.site-nav {
    margin-left: auto;    
    line-height: 56px;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav__link {
    color: var(--main-color);
    line-height: 1.5;
    padding: 8px;
    transition: 0.3s;
    border-radius: 3px;
}

.site-nav__link.is-active {
  color: #4E2973;
  border-radius: 0;
  border-bottom: 1px solid #4E2973;
} 

.site-nav__link:hover {
    background-color: #DAD5E0;
}

.site-nav__link.is-active:hover {
  background-color: transparent;
}

@media screen and (max-width: 576px) {

  .site-nav {
    position:absolute;
    top: 15px;
    right: 30px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .site-nav .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
  }

  .site-nav .menu-icon>svg {
      width: 18px;
      height: 15px;
      fill: #424242;
  }

  .site-nav .trigger {
      clear: both;
      display: none;
  }

  .site-nav:hover .trigger {
      display: block;
      padding-bottom: 5px;
  }

  .site-nav__link {
      display: block;
      padding: 5px 10px;
  }
}

.site-footer {
  position: absolute;
  margin-top: auto;
  width: 100%;
  border-top: 1px solid var(--main-color);
  padding: 30px 0;
  background: rgba(233,239,242,0.7);
}

.footer-heading {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-email:hover {
  text-decoration: underline;
  color: #000;
}

.footer-col-wrapper {
    color: #828282;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2));
    margin-right: auto;
}

.footer-btn--home {
  font-size: 25px;
  font-weight: 700;
  vertical-align: middle;  
  color: var(--main-color);
}

.footer-btn--home:hover {
  color: #6D417B;
}

@media screen and (max-width: 576px) {
    .footer-col {
        float:none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.page-content {
  background: url(../img/BackgroundHd.jpg) no-repeat 50% 50%;
  background-size: cover; 
  padding: 34px 0;
  min-height: 71vh;
}


.post-title {
    font-size: 36px;
    margin-bottom: 50px;
    font-family: "Fira Mono"
}



.portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -2%
}

.portfolio-item {
    display: none;
    vertical-align: middle;
    text-align: center;    
    width: 48%;
    min-height: 290px;
    margin-left: 2%;
    margin-right: -4px;    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(30,22,54,0.2);
    padding: 4px;
    margin-bottom: 2%
}

.ehover1v2 {
    max-height: 280px;
    outline: 1px solid rgba(30,22,54,0.1);
    display: block
}

.popup-img {
    display: block;
    margin: 0 auto
}

.hover,.hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.ehover1v2 img {
    transition: transform 0.5s ease;
}

.portfolio-item__title {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;   
}

.portfolio-item__span {
    display: block;
    overflow: hidden;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom: 0;
    margin-right: 8px;
    background: #DAD5E0;
}

.ehover1v2:hover img {
    transform: scale(1.1);
}

.ehover1v2:hover .overlay {
    opacity: 1
}

.ehover1v2:hover .portfolio-item__title {
    opacity: 0.8;
}

.portfolio-item__span .portfolio-item__decr {
    text-decoration: none;
    color: #000;
    background: #DAD5E0;
    font-family: "Fira Mono";
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    position: relative;
    padding: 0 10px
}

.portfolio-item__span .portfolio-item__decr:after {
    content: "";
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid #000;
    width: 200px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 49%;
    left: 100%;
    opacity: 0.7
}

.portfolio-item__span .portfolio-item__decr:before {
    content: "";
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid #000;
    width: 200px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 49%;
    left: -200px;
    opacity: 0.7
}

.title-fira {
  font-family: "Fira Mono", Verdana, sans-serif;
  margin-bottom: 20px;
}


.popup-wrapper {
    padding: 20px
}

a.close-text {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: #000
}

a.close-text:hover {
    background: #e9eff2;
    text-decoration: underline
}

.popup {
    display: none;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    margin-bottom: 40px
}

.popup-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    opacity: 0.7
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    text-decoration: none;
    opacity: 1
}

.close-x {
    stroke: black;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 2
}

.filter-container {
    text-align: center;
    margin-bottom: 30px
}

.filter {
    display: inline-block;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    -ms-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    margin-bottom: 15px;    
    margin-right: 10px;
    max-width: 180px;
    text-decoration: none;
    padding: 5px 20px;
    color: rgba(30,22,54,0.6);
    box-shadow: rgba(30,22,54,0.4) 0 0px 0px 1px inset;
    border-radius: 3px;
}

.filter:last-child {
    margin-right: 0
}

.filter:hover {
    color: rgba(255,255,255,0.85);
    box-shadow: rgba(30,22,54,0.7) 0 80px 0px 1px inset;
    cursor: pointer;
}

.filter.active {
    color: rgba(255,255,255,0.85);
    box-shadow: rgba(30,22,54,0.7) 0 80px 0px 1px inset;
}

.contacts-input {
  max-width: 400px;
  display: block;
  color: var(--main-color);
  text-transform: capitalize;
  padding: 7px;
  margin: 5px 0 20px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}

.contacts-input:focus, 
.contacts-input:active {
  outline-color: transparent;
  box-shadow: inset 0 0 3px var(--main-color);
}

.contacts-input.btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-bottom: 0; 
}

.contacts-input.btn:hover {
  box-shadow: 0 2px 3px var(--main-color);
}

.contacts-input.btn:active {
  opacity: 0.8;
  box-shadow: none;
}


@media screen and (max-width: 768px) {

  .container {
    max-width:-webkit-calc(1250px - (30px));
    max-width: calc(1250px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }

    .portfolio-item {
        margin-left:0;
        margin-right: 0;
        width: 100%
    }

    .portfolio-item:nth-child(even) {
        float: left
    }

    .post-title {
        font-size:36px
    }

    .portfolio-list {
        margin-left:0
    }
}

@media screen and (max-width: 400px) {
  .contacts-input {
    width: 280px;
    margin-left: auto;
    margin-right: auto;   
  }
}